
  .friendText{
    justify-content: center;
    display: flex;
    padding: 15px 0px;
    color: white;
    font-weight: bold;
  }
  .AllFriends{
    display: flex;
    justify-content: space-around;
  }